<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmsce.clique_shopwithfriends">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/clique_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clique_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CliqueShopWithFriends">
        <activity
            android:name=".SessionActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_profile_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".SettingsScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_settings_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".SessionsScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_sessions_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".IndividualSessionScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_individual_session_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".RoomCodeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_room_code_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.CliqueShopWithFriends.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>